includes:
  - vendor/larastan/larastan/extension.neon
  - phpstan-baseline.neon

parameters:
  paths:
    - app
    - config
    - routes

  level: 5

  checkFunctionNameCase: true
  checkModelProperties: true

  reportUnmatchedIgnoredErrors: false

  treatPhpDocTypesAsCertain: false

  exceptions:
    implicitThrows: false

    uncheckedExceptionRegexes:
      - '/^GuzzleHttp\\Exception\\GuzzleException$/'

    uncheckedExceptionClasses:
      - 'Illuminate\Contracts\Container\BindingResolutionException'
      - 'Illuminate\Validation\ValidationException'
      - 'InvalidArgumentException'
      - 'LogicException'
      - 'PHPUnit\Framework\Exception'
      - 'RuntimeException'
      - 'Symfony\Component\HttpKernel\Exception\HttpException'
      - 'TypeError'
